@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --primary-color: orange
}

body {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main {
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    margin: 5rem;
    padding-bottom: 5rem;
    
}

h1 {
    text-align: center;
    margin: 2rem;
    margin-top: 10rem;

}


label {
    display: block;
    padding: 1rem;
    font-weight: bolder;
}

input {
    font-size: large;
    display: block;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem auto;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 325px;
  }

#submit-btn {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    margin-top: 2rem;
    display: block;
}

#output-box {
    margin-top: 3rem;
    font-size: 30px;
}

